.menu-container {
  color: var(--light);
  position: fixed;
  height: 8vh;
  z-index: 1;
  padding: 0 15vw 0 15vw;
  width: 100vw;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 600px) {
    padding: 0 auto;
    justify-content: center;
  }
}
.icon-trail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.home {
  font-size: min(2.5rem, 6vh);
  max-height: 7vh;
  border: var(--light) 1px solid;
  border-radius: 1rem;
  padding: 0.2rem;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.5rem var(--primary));
    box-shadow: 0 0 0.5rem var(--primary);
  }
  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}
