form {
  font-size: 180%;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    filter: drop-shadow(0 0 0.2rem var(--secondary));
  }
  label {
    filter: drop-shadow(0 0 0.2rem var(--secondary));
  }
  input {
    color: var(--light);
    background-color: var(--secondary);
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 2rem;
    border: 2px solid var(--primary);
    transition: all 0.2s ease-in-out;
  }
  textarea {
    font-size: 1.5rem;

    color: var(--light);
    background-color: var(--secondary);
    padding: 10px;
    margin: 5px 0;
    border: 2px solid var(--primary);
    border-radius: 2rem;
    min-height: 35vh;
    max-width: 100%;
    transition: all 0.2s ease-in-out;
    min-width: 100%;
    resize: none;
  }
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    button {
      padding: 10px;
      margin: 5px 0;
      border: none;
      border-radius: 2rem;
      min-width: 10rem;
      font-size: 1.5rem;
      background-color: var(--light);
      cursor: pointer;
      transition: 0.4s ease-in-out;

      color: var(--light);
      background-color: var(--secondary);
      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.3rem 1rem var(--dark);
      }
    }
    .valid {
      box-shadow: 0 0 0.5rem limegreen;
      &:hover {
        box-shadow: 0 0.3rem 1rem limegreen;
      }
    }
    .not-valid {
      background-color: var(--not-valid-bg);
      color: var(--not-valid-in);
      &:hover {
        transform: none;
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    font-size: 120%;

    h2 {
      margin-bottom: 0;
    }
    input {
      font-size: 1.2rem;
    }
    textarea {
      font-size: 1.2rem;
    }
    .form-buttons {
      justify-content: space-around;
      button {
        min-width: 10rem;
        font-size: 1.5rem;
      }
    }
  }
}
