.add {
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--light);

  border: 1px solid var(--dark);
  border-radius: 5rem;

  color: var(--dark);
  cursor: pointer;
  transition: 0.2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    height: 4rem;
    width: 4rem;
  }
  &:hover {
    background-color: var(--primary);
    color: var(--light);
    box-shadow: 0 0 0.8rem var(--primary);
  }
  @media screen and (max-width: 600px) {
    right: 1rem;
    bottom: 1rem;
  }
}
