.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
}

.content {
  position: fixed;
  top: 0;
  left: 15vw;
  width: 70%;
  height: 100vh;
  background-color: var(--orange);
  padding: 10vh 5rem 5rem;
  color: var(--light);
  overflow: auto;
}
h1 {
  color: var(--light);
  position: fixed;
  height: 8vh;
  z-index: 1;
  padding: 0 0 0 15vw;
  width: 100vw;
  background-color: var(--dark);
}
.add {
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  background-color: var(--light);
  font-size: 5rem;
  text-align: center;
  line-height: 4rem;
  color: var(--dark);
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: var(--orange);
    color: var(--light);
  }
}
