.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
}

.content {
  position: fixed;
  top: 8vh;
  left: 15vw;
  width: 70%;
  height: 92vh;
  background-color: var(--orange);
  padding: 0 5rem;
  color: var(--light);
  overflow: auto;
}
.post {
  height: 30vh;
  padding: 3rem;
  background-color: var(--light);
  margin: 3rem 0;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-radius: 5rem;
  box-shadow: 0 0 1rem #4e4e4e38;

  .title {
    font-size: 3rem;
    color: var(--dark);
    font-weight: bold;
  }

  p {
    margin: 0;
    color: var(--gray);
  }
}
