.post {
  height: 50vh;
  padding: 1rem 3rem;
  margin: 3rem auto;
  user-select: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30%;
  border: 1px solid var(--primary);
  border-radius: 5rem;
  box-shadow: 0 0 0.2rem var(--primary);
  background-image: linear-gradient(
    to top right,
    #00000000 -20%,
    var(--secondary-transparent) 120%
  );

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  transition: all 0.2s ease-in-out;
  .title {
    font-size: 3rem;
    color: var(--primary);
    filter: drop-shadow(0 0 0.2rem var(--dark));
    font-weight: bold;
  }

  p {
    font-size: 1.5rem;
    color: var(--light);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 0.8rem 0.2rem var(--primary);
  }
  @media screen and (max-width: 600px) {
    width: 90%;
    padding: 2rem;
    gap: 35%;
    .title {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      -webkit-line-clamp: 4;
      line-clamp: 4;
    }
  }
}
