.trail {
  font-size: 2rem;
  user-select: none;
  display: flex;
  align-items: center;
  @media (max-width: 600px) {
    display: none;
  }
}
.clickable {
  cursor: pointer;
  span {
    border-bottom: 2px solid var(--primary);
    @media (max-width: 600px) {
      display: none;
    }
  }
  &:hover {
    filter: drop-shadow(0 0 0.5rem var(--primary));
  }
}
.triangle {
  height: 2rem;
  width: 2rem;
}
